<div class="page-toolbar">
    <md-toolbar id="displays-panel-toolbar" class="toolbar-theme">
        <button id="displays-panel-back-button" *ngIf="isBackButton" md-icon-button (click)="navigateBack()">
            <i class="material-icons">arrow_back</i>
        </button>
        <span id="displays-panel-back-button-text">{{ 'displayList.connectTo' | translate }}</span>

        <span class="fill-remaining-space"></span>

        <button id="display-panel-reload-button" md-icon-button *ngIf="viewState.reload" (click)="reloadList()">
            <i class="material-icons">refresh</i>
        </button>
        <button id="display-list-favorite-button" md-icon-button nd-click-debounce (ndClick)="setFavourite()">
            <i class="material-icons">{{ isFavoriteFilter ? "star" : "star_border" }}</i>
        </button>
        <button id="display-list-search-button" md-icon-button (click)="initializeSearch($event)">
            <i class="material-icons">search</i>
        </button>
        <md-input-container id="display-list-search-input">
            <input md-input type="text" placeholder="{{ 'panelToolbar.search' | translate }}" [(ngModel)]="searchKey">
        </md-input-container>

        <button id="log-off" md-button md-raised-button (click)="logout()">
            {{'common.logout' | translate}}
        </button>
    </md-toolbar>
</div>

<div class="displays-panel-main">
    <cms-display-list (change)="onListChanged()" *ngIf="viewState.list" [searchFilter]= "searchFilter" [favoriteFilter]="isFavoriteFilter"></cms-display-list>
</div>