@import "variables.global";

.page-toolbar{
     @include page-header-fixed();
}

.displays-panel-main {
    z-index: 0;
    height: 100%;
    width: 100%;
    @include layout-column();
}

cms-display-list{
    @include layout-row();
    height: inherit;
}