@import "variables.global";

.cms-mini-display-container {
    text-align: center;
    overflow: hidden;
    position: absolute;
    background-color: $grey_600;
    width: 100%;
    height: calc(100% - 128px);
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;    
}

.cms-mini-display {
    display: inline-block;
    background-color: $grey_500;
}

.cms-mini-display [md-raised-button] {
    background-color: $grey_800;
    color: $white;
    font-size: 18px;
    //top: calc(50% - 20px);
    //position: absolute;
}

.cms-mini-display [md-raised-button] md-icon,
 .cms-mini-display [md-raised-button] .material-icons{
    position: relative;
    top: -2px;
    font-size: 24px;
    width: 22px;
    height: 22px;
}