<div class="page-toolbar">
	<!-- PAGE HEADER -->
	<md-toolbar id="about-panel-toolbar" class="toolbar-theme">
		<button id="about-panel-back-button" md-icon-button (click)="goBack()">
            <i class="material-icons">arrow_back</i>
        </button>

		<span id="about-panel-title-text">{{ 'about.about' | translate }}</span>
	</md-toolbar>
</div>

<div class="about-panel">
	<!-- PAGE CONTENT SECTION -->
	<div class="about-panel-container">

		<!-- LOADING PROGRESS -->
		<div class="loading-content" *ngIf="loading" id="loading-progress-indicator">
			<md-progress-circle mode="indeterminate"></md-progress-circle>
		</div>

		<div class="about-content-wrapper" *ngIf="!loading">

				<!-- ABOUT PANEL CONTENT PART -->
				<md-card class="about-card">
					<md-card-content>
						<md-list dense>
							<!-- VERSION -->
							<md-list-item class="info-text">
								<div class="title">{{ 'about.version' | translate }}</div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.version }}</div>
							</md-list-item>
							<md-divider></md-divider>

							<!-- LICENSED TO -->
							<md-list-item class="info-text">
								<div class="title">{{ 'about.licensed' | translate }}</div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.licensedTo }}</div>
							</md-list-item>

							<!-- PROJECT NAME -->
                            <md-list-item class="info-text">
								<div class="title">{{ 'about.project' | translate }}</div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.projectName }}</div>
							</md-list-item>

							<!-- LICENSE STATUS -->
                            <md-list-item class="info-text">
								<div class="title">{{ 'about.licenseStatus' | translate }}</div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.licenseStatus }}</div>
							</md-list-item>
							<md-divider></md-divider>

							<!-- SERVER IP AND VERSION -->
                             <md-list-item class="info-text">
								<div class="title">{{ 'about.server' | translate }}</div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.server  }}</div>
							</md-list-item>
                             <md-list-item class="info-text">
								<div class="title"></div>
                                <div class="fill-remaining-space text-break">{{ systemInfo.serverVersion  }}</div>
							</md-list-item>
                            <md-divider></md-divider>

							<!-- ABOUT TEXT -->
                             <md-list-item class="content-text">
								<div class="fill-remaining-space text-break">{{ 'about.contentText' | translate }}</div>
							</md-list-item>
                            <md-divider></md-divider>

							<!-- COPYRIGHT TEXT -->
                             <md-list-item class="content-text">
								<div class="fill-remaining-space text-break">{{ copyRightText }}</div>
							</md-list-item>
							
						</md-list>
					</md-card-content>
				</md-card>
		</div>
	</div>
</div>