.scannerwork/**
tslint/**
node_modules/
test-report/**
build/build/dist/**
build/reports
coverage/**
build/coverage/**
npm-debug.log
coverage/**
build/coverage/**
karma_html/**
.dccache
.vscode/
/.angular/cache
node_modules/
