@import "../../../app/_variables.global.scss";

.tile-list-cards {
    padding: 1%;
    background-color: $grey_300;
    min-width: 98%;
    overflow: auto;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    margin-top: 65px;
    @include layout-row();
}

.tile-list-unavailable {
   width: 100%;
   flex-grow: 1;
   @include layout-row();
   @include layout-align-center();
}

.tile-list-unavailable span {
   font-size: 18px;
   color: $grey_500;
}

.card {
  margin: 0 15px 15px 0;
  padding: 15px 7.5px;
  width: 465px;
  height: 130px;
  cursor: pointer;
  display: inline-block;
}

.card-inner {
    width: 465px;
    height: 130px;
}

.card-image-section {
    width: 230px;
    margin: 0 7.5px;
    background-color: $white;
}

.card-image {
    width: 230px;
    height: 130px;
}

.card-content-section {
    width: 170px;
    height: 100%;
    margin: 0 5px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 60px;
}

.card-content {
    margin: 0;
    padding-top: 10px;
    max-height: 60px
}

.card-desc pre {
    margin: 0;
    line-height: 18px;
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-size: 12px;
}

.card-fav-section {
    width: 40px;
}

#card-favorite md-icon,
#card-favorite .material-icons {
    font-size: 34px;
    width: 34px;
    height: 34px;
}

#card-status md-icon,
#card-status .material-icons,
#card-status .material-icons img {
    font-size: 34px;
    width: 24px;
    height: 24px;
}

.bottom-up {
    margin-bottom: 64px;
}
