@import "../../../app/_variables.global.scss";

.cms-colorpicker-wrapper{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .color-indicator-box{
        padding: 3px;
        background-color: $grey_300;
        border: 1px solid $grey_600;
        box-sizing: border-box;

        .color-box{
            width: 30px;
            height: 20px;
            border: 1px solid $grey_600;
        }
    }

    .cms-color-picker-palette{
        background-color: $white;
        padding: 5px;
        border: 1px solid $grey_800;
        width: 200px;
        position: absolute;
        top: 0;
        left: 45px;
        z-index: 1;
        box-sizing: border-box;
        display: none;

       ul{
            margin: 0;
            padding: 0;

            @include layout-row();

            flex-wrap: wrap;
        }

        li{
            list-style-type: none;
            min-width: 25px;
            min-height: 25px;
            margin: 2px;
            box-sizing: border-box;
            flex-grow: 1;
        }

    }

    /****** IMORTANT:  To handle multiple color picker open *******/
    .cms-color-picker-palette[isopened=true]{
        display: block;
    }
}
