<button id="clipboard-clear-icon" class="clipboard" md-icon-button *ngIf="displayClipboard(['icon'])" (click)="clearSource()" (tap)="clearSource()">
    <i class="material-icons" aria-label="Options">
        <img src="resources/icons/clipboard_clear_white_36px.svg"></i>
</button>

<div id="clipboard-preview" class="clipboard" *ngIf="displayClipboard(['small', 'large'])" [ngClass]="{small: clipboardStatus === 'small'}"
    (mousedown)="onMouseDown($event)" (touchstart)="onMouseDown($event)" (mouseup)="onMouseUp()" (touchend)="onMouseUp()" (mouseleave)="onMouseLeave()"
    (mousemove)="onMouseMove($event)" (touchmove)="onMouseMove($event)">

    <i class="material-icons" id="clipboard-cancel" aria-label="Options"><img src="resources/icons/clear_clipboard_black.svg"></i>
    <img id="clipboard-image" [src]="clipboardSnapshot">
</div>