@import "variables.global";

.page-toolbar{
     @include page-header-fixed();
}

.about-panel{
    z-index: 0;    
    height: 100%;
    width: 100%;
    @include layout-column();

    .about-panel-container{
        width: 100%;
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        background-color: $grey_600;
        -webkit-overflow-scrolling: touch;
        margin-top: 64px;
    }
    .about-content-wrapper{
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15%;
        height: 100%;
    }
     .loading-content{
        padding: 20px;
        
        @include layout-column();
        @include layout-align-center();

        md-progress-circle{
            width: 80px;
            height: 80px;
        }
    }
     .about-card{
        height: 100%;
        box-sizing: border-box;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
    }
    .title{
       max-width: 200px;
       min-width: 200px;
       word-break: break-word;
    }
    .text-break{
       word-break: break-word;
    }

}