<div id="tile-list-card-container" class="tile-list-cards">
    <div class="tile-list-unavailable" *ngIf="tilePresets?.length === 0">
        <span>{{ 'tilePresetList.unavailable' | translate }}</span>
    </div>
    <div *ngIf="tilePresets?.length > 0">
        <md-card *ngFor="let tilePreset of tilePresets" class="card" (click)="loadTilePreset(tilePreset)">
            <div class="card-inner layout-row">
                <div class="card-image-section">
                    <cms-tile-grid [displayBase]="displayResolution" [tilePreset]="tilePreset"></cms-tile-grid>
                </div>
                <div class="card-content-section layout-column">
                    <md-card-title id="card-title" class="card-title" [title]="tilePreset.name">
                        {{tilePreset.name}}
                    </md-card-title>
                    <md-card-content class="card-content" [title]="tilePreset.description">
                        <div id="card-description" class="card-desc">
                            <pre>{{tilePreset.description}}</pre>
                        </div>
                    </md-card-content>
                </div>
            </div>
        </md-card>
    </div>
</div>