<div class="page-toolbar">
	<!-- PAGE HEADER -->
	<md-toolbar id="setting-panel-toolbar" class="toolbar-theme">
		<button id="setting-panel-back-button" md-icon-button routerLink="/display-panel/{{recentDisplayId}}">
            <i class="material-icons">arrow_back</i>
        </button>

		<span id="setting-panel-title-text">{{ 'settings.settings' | translate }}</span>
	</md-toolbar>
</div>

<div class="settings-panel">
	<!-- PAGE CONTENT SECTION -->
	<div class="settings-panel-container">

		<!-- LOADING PROGRESS -->
		<div class="loading-content" *ngIf="mLoading" id="loading-progress-indicator">
			<md-progress-circle mode="indeterminate"></md-progress-circle>
		</div>

		<div class="settings-content-wrapper" *ngIf="!mLoading">
			<form>
				<!-- LANGUAGE PART -->
				<md-card class="setting-card setting-card-language">
					<md-card-subtitle id="setting-panel-language-subtitle">{{ 'settings.language' | translate }}</md-card-subtitle>
					<md-card-content>
						<button md-raised-button class="language-button" id="setting-panel-language-link" (click)="showLanguages($event)" [disabled]="!localizationLicense">{{ mUserSelectedLanguage }} </button>
					</md-card-content>
				</md-card>

				<!-- AUTO LOG-OFF PART -->
				<md-card class="setting-card">
					<md-card-subtitle id="setting-panel-auto-logoff-subtitle">{{ 'settings.autoLogOff' | translate }}</md-card-subtitle>
					<md-card-content>
						<md-list dense>
							<md-list-item>
								<div class="fill-remaining-space">{{ 'settings.timeOutInMinute' | translate }}</div>

								<div class="setting-button-group">
									<button md-raised-button class="setting-square-button" id="logoffTime-decrease-button" (click)="decreaseLogOffTime()" [disabled]="logOffTimeSteps[0] === mUserSettings.logOffTime">-</button>
									<md-input-container class="setting-square-input">
										<input md-input type="text" name="logOffTime" [value]="autoLogOffTime" [(ngModel)]="autoLogOffTime" (change)="updateLogOffTime($event)"
											#logOffTime>
									</md-input-container>
									<button md-raised-button class="setting-square-button" id="logoffTime-increase-button" (click)="increaseLogOffTime()" [disabled]="logOffTimeSteps[logOffTimeSteps.length-1] === mUserSettings.logOffTime">+</button>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>

				<!-- WALL CONNECTION PART -->
				<md-card class="setting-card">
					<md-card-subtitle id="setting-panel-wallconnection-subtitle">{{ 'settings.wallConnection' | translate }}</md-card-subtitle>
					<md-card-content>
						<md-radio-group name="wallConnection_AtStartup" [value]="mUserSettings.wallConnection.atStartup.status" [(ngModel)]="mUserSettings.wallConnection.atStartup.status"
							(change)="updateUserSettingsByAction($event)" id="wallconnection-radiogroup">
							<md-list dense>
								<md-list-item id="setting-panel-wallconnection-atstartup-subtitle">
									{{ 'settings.atStartup' | translate }}
								</md-list-item>
								<md-list-item>
									<md-radio-button value="show-available-walls-list" id="show-available-walls-list-radio-button">
										<span class="md-line">{{ 'settings.availableWallsList' | translate }}</span>
									</md-radio-button>
								</md-list-item>
								<md-list-item>
									<md-radio-button value="auto-connect-to-most-recent-wall" id="auto-connect-to-most-recent-wall-radio-button">{{ 'settings.connectToMostRecentWall' | translate }}</md-radio-button>
								</md-list-item>
								<md-list-item class="specific-wall-row" [class.disabled]="noDisplayAvailable">
									<div class="text-block">
										<md-radio-button value="auto-connect-to-specific-wall" id="auto-connect-to-specific-wall-radio-button">{{ 'settings.connectToSpecificWall' | translate }}</md-radio-button>
									</div>
									<div class="button-block">
										<button md-raised-button class="wall-connection-button" [disabled]="!(mUserSettings.wallConnection.atStartup.status === 'auto-connect-to-specific-wall')"
											(click)="goToSelectDisplayForAutoConnect($event)" type="button" id="auto-connect-to-specific-wall-select-button">
											<span *ngIf="mUserSettings.wallConnection.atStartup.selectedDisplayId ===''">{{ 'settings.selectDisplay' | translate }}</span>
											<span *ngIf="displayWallName ==='nodisplayfound'">{{ 'settings.noDisplayWallFound' | translate }}</span>
											<span *ngIf="displayWallName !=='nodisplayfound'">{{ displayWallName }}</span>
											</button>
									</div>
								</md-list-item>
							</md-list>
							</md-radio-group>
					</md-card-content>
				</md-card>

				<!-- SOURCE LABEL PART -->
				<md-card class="setting-card">
					<md-card-subtitle id="setting-panel-source-label-subtitle">{{ 'settings.sourceLabels' | translate }}</md-card-subtitle>
					<md-card-content>
						<md-list dense>
							<md-list-item>
								<div class="fill-remaining-space">{{ 'settings.displaySourceName' | translate }}</div>
								<md-slide-toggle [checked]="mUserSettings.sourceLabels.displaySourceNameLabels" name="sourceLabels_DisplaySourceNameLabels"
									[(ngModel)]="mUserSettings.sourceLabels.displaySourceNameLabels" (change)="updateUserSettingsByAction($event)" id="display-sourcename-labels-slider-button"></md-slide-toggle>
							</md-list-item>
							<md-divider></md-divider>
							<md-list-item>
								<div class="fill-remaining-space list-text" [class.disabled]="!mUserSettings.sourceLabels.displaySourceNameLabels">{{ 'settings.multipleLines' | translate }}</div>
								<md-slide-toggle [checked]="mUserSettings.sourceLabels.useMultipleLines" name="sourceLabels_UseMultipleLines" [(ngModel)]="mUserSettings.sourceLabels.useMultipleLines"
									(change)="updateUserSettingsByAction($event)" [disabled]="!mUserSettings.sourceLabels.displaySourceNameLabels" id="use-multiplelines-sourcename-labels-slider-button"></md-slide-toggle>
							</md-list-item>
							<md-divider></md-divider>

							<!-- COLOR AND FONT SIZE PART -->
							<md-list-item class="list-main-row" [class.disabled]="!mUserSettings.sourceLabels.displaySourceNameLabels" id="source-labels-fonts-settings">
								<div class="cell-block title-box">
									<div class="cell-block-content" id="font-color-title">{{ 'settings.fontColor' | translate }}</div>
									<div class="cell-block-content" id="background-title">{{ 'settings.background' | translate }}</div>
								</div>

								<div class="cell-block color-box">
									<!-- Font Color -->
									<div class="cell-block-content">
										<cms-colorpicker [color]="mUserSettings.sourceLabels.fontColor" [defaultColor]="fontColorDefault" id="sourceLabels-fontcolor-box"
											(change)="updateFontColor($event)"></cms-colorpicker>
									</div>
									<!-- Background Color -->
									<div class="cell-block-content">
										<cms-colorpicker [color]="mUserSettings.sourceLabels.background" [defaultColor]="backgroundDefault" id="sourceLabels-background-box"
											(change)="updateBackgroundColor($event)"></cms-colorpicker>
									</div>
								</div>

								<div class="cell-block title-box">
									<div class="cell-block-content" id="font-size-title">{{ 'settings.fontSize' | translate }}</div>
									<div class="cell-block-content" id="font-transparency-title">{{ 'settings.transparency' | translate }}</div>
								</div>

								<div class="block setting-button-box">
									<!-- Font Size -->
									<div class="setting-button-group cell-block-content">
										<button md-raised-button class="setting-square-button aSmall" (click)="decreaseFontSize()" [disabled]="fontSizeSteps[0] === fonSize.value"
											id="font-decrease-button">A</button>
											<md-input-container class="setting-square-input">
												<input md-input type="text" [value]="mUserSettings.sourceLabels.fontSize" name="sourceLabels_FontSize" [(ngModel)]="mUserSettings.sourceLabels.fontSize"
													(change)="updateFontSize($event)" #fonSize id="font-size-input">
											</md-input-container>
											<button md-raised-button class="setting-square-button aLarge" (click)="increaseFontSize()" [disabled]="fontSizeSteps[fontSizeSteps.length-1] === fonSize.value"
												id="font-increase-button">A</button>
									</div>
									<!-- Transparency -->
									<div class="setting-button-group cell-block-content">
										<button md-raised-button class="setting-square-button" (click)="decreaseTransparency()" [disabled]="transparencySteps[0] === transparency.value"
											id="transparency-decrease-button">-</button>
											<md-input-container class="setting-square-input">
												<input md-input type="text" name="sourceLabels_Transparency" [value]="mUserSettings.sourceLabels.transparency" [(ngModel)]="mUserSettings.sourceLabels.transparency"
													(change)="updateTransparency($event)" #transparency id="transparency-input">
											</md-input-container>
											<button md-raised-button class="setting-square-button" (click)="increaseTransparency()" [disabled]="transparencySteps[transparencySteps.length-1] === transparency.value"
												id="transparency-increase-button">+</button>
									</div>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>

				<!-- WALL CONTENT PART -->
				<md-card class="setting-card">
					<md-card-subtitle id="setting-panel-managewallcontent-subtitle">{{ 'settings.manageWallContent' | translate }}</md-card-subtitle>
					<md-card-content>
						<md-list dense>
							<md-list-item>
								<div class="fill-remaining-space" id="require-confirmation-layouts-text">{{ 'settings.requireConfirmationLayouts' | translate }}</div>
								<md-slide-toggle name="manageWallContent_RequireConfirmationforLoadingLayouts" [checked]="mUserSettings.manageWallContent.requireConfirmationforLoadingLayouts"
									[(ngModel)]="mUserSettings.manageWallContent.requireConfirmationforLoadingLayouts" (change)="updateUserSettingsByAction($event)"
									id="require-confirmation-layouts-slider-button"></md-slide-toggle>
							</md-list-item>
							<md-divider></md-divider>
							<md-list-item>
								<div class="fill-remaining-space" id="allow-changing-sources-text">{{ 'settings.allowChangingSources' | translate }}</div>
								<md-slide-toggle name="manageWallContent_AllowChangingSources" [checked]="mUserSettings.manageWallContent.allowChangingSources"
									[(ngModel)]="mUserSettings.manageWallContent.allowChangingSources" (change)="updateUserSettingsByAction($event)"
									id="allow-changing-sources-slider-button"></md-slide-toggle>
							</md-list-item>
							<md-divider></md-divider>


							<!-- CLIPBOARD PART -->
							<md-list-item>
								<div class="fill-remaining-space list-text" id="setting-panel-clipboard-subtitle" [class.disabled]="!mUserSettings.manageWallContent.allowChangingSources">{{ 'settings.clipboard' | translate }}</div>
								<md-slide-toggle name="manageWallContent_Clipboard" [disabled]="!mUserSettings.manageWallContent.allowChangingSources" [checked]="mUserSettings.manageWallContent.clipboard.isEnabled"
									[(ngModel)]="mUserSettings.manageWallContent.clipboard.isEnabled" (change)="updateUserSettingsByAction($event)" id="setting-panel-clipboard-slider-button"></md-slide-toggle>
							</md-list-item>

							<md-radio-group name="manageWallContent_Clipboard_Status" class="clipboard-row" [value]="mUserSettings.manageWallContent.clipboard.status"
								[(ngModel)]="mUserSettings.manageWallContent.clipboard.status" (change)="updateUserSettingsByAction($event)" [disabled]="!mUserSettings.manageWallContent.clipboard.isEnabled || !mUserSettings.manageWallContent.allowChangingSources"
								[class.disabled]="!mUserSettings.manageWallContent.clipboard.isEnabled || !mUserSettings.manageWallContent.allowChangingSources"
								id="clipboard-radiogroup">
								<md-list-item>
									<md-radio-button value="icon" id="clipboard-icon-radio-button">
										<span class="md-line">{{ 'settings.icon' | translate }}</span>
									</md-radio-button>
								</md-list-item>
								<md-list-item>
									<md-radio-button value="small" id="clipboard-small-radio-button">{{ 'settings.small' | translate }}</md-radio-button>
								</md-list-item>
								<md-list-item>
									<md-radio-button value="large" id="clipboard-large-radio-button">{{ 'settings.large' | translate }}</md-radio-button>
								</md-list-item>
								</md-radio-group>
						</md-list>
					</md-card-content>
				</md-card>

				<!-- List page sizes -->
				<md-card class="setting-card">
					<md-card-subtitle id="setting-panel-list-page-sizes-subtitle">{{ 'settings.listPageSizes' | translate }}</md-card-subtitle>
					<md-card-content>
						<md-list dense>
							<md-list-item>
								<div class="fill-remaining-space">{{ 'settings.defaultPageSize' | translate }}</div>

								<md-select name="defaultPageSize" [(ngModel)]="mUserSettings.defaultPageSize" (ngModelChange)="updateUserSettingsByAction($event)">
									<md-option *ngFor="let pageSize of pageSizes" [value]="pageSize">
										{{ pageSize }}
									</md-option>
								</md-select>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</form>
		</div>
	</div>
</div>