<mat-card id="card-{{card.id}}" (click)="selectCard(card)" class="card" [ngClass]="{disabled: card.disabled}">
  <div class="card-inner layout-row">
    <div class="card-image-section">
      <img src={{cardSnapshot}} class="card-image" alt="source">
    </div>
    <div class="card-content-section layout-column">
      <mat-card-title id="card-title" class="card-title" [title]="card.name">
        {{card.name}}
      </mat-card-title>
      <mat-card-content class="card-content" [title]="card.description">
        <div id="card-description" class="card-desc">
          <pre>{{card.description}}</pre>
        </div>
      </mat-card-content>
    </div>
    <div class="card-fav-section layout-column layout-align-space-between">
      <button id="card-favorite" mat-icon-button (click)="markFavorite($event, card)">
        @if (!isFavorite) {
          <i class="material-icons">star_border</i>
        }
        @if (isFavorite) {
          <i class="material-icons">star</i>
        }
      </button>
      @if (card['online'] != undefined) {
        <button id="card-status" mat-icon-button>
          @if (card['online']) {
            <i class="material-icons">
              <img src="app/resources/icons/display_online_black_36.svg">
            </i>
          }
          @if (!card['online']) {
            <i class="material-icons">
              <img src="app/resources/icons/display_offline_black_36.svg">
            </i>
          }
        </button>
      }
      @if (multi) {
        <button id="card-selected" mat-icon-button>
          <i class="material-icons">{{card?.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
        </button>
      }
    </div>
  </div>
</mat-card>
