//Fonts and Font Family
$baseFont: RobotoRegular;
$baseFont_light: RobotoLight;
$baseFont_size: 24px; 

//Colors Themes
$blue_500:      #2196F3;
$blue_200:      #90CAF9;
$blue_grey_200: #B0BEC5;   
$red_500:       #F44336;   
$grey_100:      #F5F5F5;
$grey_200:      #EEEEEE;
$grey_300:      #E0E0E0;    
$grey_400:      #BDBDBD;  
$grey_500:      #9E9E9E; 
$grey_600:      #757575; 
$grey_800:      #424242;   
$white:         #FFFFFF;
$teal_500:      #009688;
$black:         #212121;

//Extend and Inheritance CSS Styles - Reusable Flex CSS Properties
@mixin layout-row{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
}

@mixin layout-row-reverse{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin layout-column{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@mixin layout-column-reverse{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@mixin layout-align-center{
    align-items: center;
    justify-content: center;
}

@mixin layout-align-space-between{
    justify-content: space-between;
}

@mixin fill-remaining-space {
    flex: 1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
}

@mixin layout-align-space-around{
    justify-content: space-around;
}

// Extend and Inheritance CSS Styles - Reusable page header CSS Properties
@mixin page-header-fixed{
    position: fixed;
    z-index: 1;
    width: 100%;  
}