@import "variables.global";

/* Master Styles */

* {
    font-family: $baseFont;
}

body{
  margin: 0 !important;
  font-size: $baseFont_size;
  background-color: $grey_400;
}

cms-launchpad{
    
    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $white inset;
        -webkit-box-shadow: 0 0 0px 1000px $white inset;
        -moz-box-shadow: 0 0 0px 1000px $white inset;
    }

    // HTML LAYOUTS (used since angular material2 layouts are not yet available)
    
    .layout-row{
        display: -webkit-flex;
        display: flex;
    }

    .layout-row-reverse{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .layout-column{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .layout-column-reverse{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .layout-align-center{
        align-items: center;
        justify-content: center;
    }

    .layout-align-space-between{
        justify-content: space-between;
    }

    .fill-remaining-space {
        flex: 1 1 auto;
        -webkit-flex:  1 1 auto;
        -ms-flex:  1 1 auto;
    }

    .nd-popup {
        font-size: 16px !important;
        .popup-header {
            height: 25px !important;
            
            button {
                padding: 0;
                min-width: 0;
                background-color: transparent;
                .md-button-focus-overlay {
                    display: none;
                }
            }
        }
        .popup-footer {
            justify-content: space-evenly !important;
        }
    }
    
   .action-button-clear{
        color: rgb(0, 0, 0) !important;
        background-color: $grey_300 !important;
        min-width: 0;
        width: 150px;
    }

    .action-button-share{
        color: rgb(0, 0, 0) !important;
        background-color:$grey_300 !important;
        min-width: 0;
        width: 150px;
    }

    .action-button-exit{
        color: rgb(0, 0, 0) !important;
        background-color:$grey_300 !important;
    }

    .disabled {
        opacity: 0.3;
        cursor: no-drop !important; 
        box-shadow: 0px 0px 0px transparent; 
    }
    .disabled:hover{
        box-shadow: 0px 0px 0px transparent;
        .card-title{
            color: #333333;
        } 
        .material-icons{
            color: #333333;
        } 
    }
    .disabled * {
        cursor: no-drop !important;       
    }
}
