@import "variables.global";

/* Overridden Styles */

cms-launchpad,
body,
html{
    height: 100%;
    overflow: hidden;
}

cms-launchpad{
    // login - input
    #login-username-input .md-input-placeholder.md-focused, 
    #login-password-input .md-input-placeholder.md-focused{
        color: $blue_500;
    }

    #login-username-input .md-input-underline span, 
    #login-password-input .md-input-underline span{
        background-color: $blue_500;
    }

    // remove cross icon (X) in internet explorer
    input::-ms-clear {
        display: none;
    }


    // save layout - input
    #save-layout-input .md-input-placeholder{
        color: black;
    }

    #save-layout-input .md-input-placeholder.md-focused{
        color: $blue_500;
    }

    #save-layout-input .md-input-underline span{
        background-color: $blue_500;
    }

    // removing asterix sign on input labels defined as required
    .md-placeholder-required{
        display: none;
    }

    // md-toolbar (in general)
    md-toolbar.toolbar-theme{
        padding: 0 16px;
    }

    md-toolbar.toolbar-theme md-icon,
    md-toolbar.toolbar-theme .material-icons{
        font-size: 34px;
        width: 34px;
        height: 34px;
    }

    md-toolbar.toolbar-theme [md-raised-button] {
        font-size: 18px;
        margin: 0 8px;
    }

    md-toolbar.toolbar-theme [md-icon-button]{
        margin: 0 9px;
        display: flex;
    }

    md-toolbar.toolbar-theme [md-icon-button] + span{
        font-size: 18px;
        padding: 0 10px;
    }

    md-toolbar.toolbar-theme md-input{
        font-size: 18px;
    }

    #options [md-button] .md-button-wrapper{
        @include layout-row();
        align-items: center;
    }

    // ---------- md-icon-button (in general)
    .md-button-ripple{
        display: none;
    }

    // removing shadow from all icon type of buttons
    // handling double tap issue for iOS version 10
    [md-icon-button]:hover::after,
    [md-button]:hover::after,
    [md-raised-button]:hover::after{
        content: none;
        background-color: transparent !important;
        /* ISSUE: Buttons need to be tapped twice in order to fire the click event (iOS version 10)
           LINK: https://github.com/angular/material2/issues/1316
           https://css-tricks.com/annoying-mobile-double-tap-link-issue/
           SOLUTION: Content Property must be none.
        */
    }

    [md-icon-button] {
        line-height: 24px;
    }

    [md-icon-button] md-icon,
    [md-icon-button] .material-icons {
        line-height: 1;
    }

    [md-icon-button] .md-ripple-foreground {
        top: 0;
        left: 0;
        width: 40px !important;
        height: 40px !important;
    }

    /* To hide non material components such as normal radio button and checkbox */
    .cdk-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        position: absolute;
    }
    
    // ---------- md-list  (override for setting page)
    .settings-panel md-list[dense] md-list-item .md-list-item,
    .settings-panel md-list md-list-item .md-list-item,
    .about-panel md-list[dense] md-list-item .md-list-item,
    .about-panel md-list md-list-item .md-list-item{
        padding: 0;
        font-size: 16px;
    }

    .settings-panel  md-nav-list[dense] a[md-list-item] .md-list-item{
        font-size: 14px;        
    }

    .settings-panel .list-main-row .md-list-item{
        height: inherit;
    }

    .settings-panel  .md-radio-label-content{
        font-size: 16px;
        position: relative;
        top: -3px;
    }

    .settings-panel md-slide-toggle[ng-reflect-checked="true"].md-disabled{
        opacity: 0.4;
    }

    .settings-panel .setting-square-input{
        width: 85px;
        height: 35px;
        box-sizing: border-box;
        background-color: $grey_100;
        border: 1px solid $grey_600;
        position: relative;
        border-radius: 2px;
        margin: 0 10px;
        font-size: 16px;

        input{
            height: 35px;
        }

        .md-input-wrapper{
            margin: 0;
        }

        .md-input-element{
            text-align: center;
        }

        .md-input-underline{
            display: none;
        }

       input[type=number]::-webkit-inner-spin-button, 
       input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            margin: 0; 
        }

        &:hover{
             border: 1px solid $blue_500;
        }
    }

    .setting-card-language-page  .md-list-item{
        border-bottom: 1px solid $grey_300;
        position: relative;
    }

  .settings-panel  .specific-wall-row .md-list-item{
        width:  100%;
        height: inherit;
    }
    
    .settings-panel .specific-wall-row .md-radio-label-content{
        white-space: normal !important;
        word-wrap: break-word;
        overflow-wrap: break-word; 
    }

     .settings-panel .specific-wall-row .md-radio-container{
        flex-shrink: 0;
     }

    .settings-panel md-slide-toggle{
        display: block;
    }

    //hide up and down arrow in input number field 
    input[type="number"] {
        -moz-appearance: textfield;
    }

    //disable class for grid-tiles
    .tileHighlightDisabled .tile:hover{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
    
    // ---------- md-list-item  (override for about page)
    .about-panel .md-list-item{
      padding: 15px 0px !important;
      height: inherit !important;
    }

    .about-panel .content-text .md-list-item{
      height: inherit !important;
    }

    .about-panel .info-text .md-list-item{
      word-break: break-all;
      word-wrap: initial;
    }

    // ---------- override for save layout page
    cms-save-layout{
        min-height: 140px;
        background-color: $grey_400;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 3px;
        margin-top: 65px;
    }

    cms-save-layout + cms-layout-list{
        // include 64px for navigation bar and 140px for save layout form 
        height: calc(100% - 205px) !important;
    }

    cms-save-layout + cms-layout-list .layout-list-cards{
        margin-top: 0 !important;
    }

    // handle tap or click event for safari
    cms-displays-panel,
    cms-display-panel,
    cms-sources-panel,
    cms-settings-panel,
    cms-settings-language-panel,
    cms-about-panel{
        display: block;
        height: inherit;
    }

}


html[dir="rtl"]{
    // check icon position in language page
   .settings-language-panel .link-select-icon {
        left: 8px;
    }

    // input placeholder position
   .md-input-placeholder{
        left: inherit !important;
        padding-right: 5px;
    }

   // toolbar icon - flip 
   md-toolbar md-icon,
   md-toolbar .material-icons{
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }

   md-toolbar md-icon[aria-label="search"],
   md-toolbar .material-icons[aria-label="search"]{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
   } 

    #clipboard-preview{
        left: 50px;
    }  
}

html[dir="ltr"]{
    // check icon position in language page
   .settings-language-panel .link-select-icon {
        right: 8px;
    }

    #clipboard-preview{
        right: 50px;
    }
}



/* Support for md-select component */

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}
.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}
.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000
}
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000
}
.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    opacity: 0
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .48
}
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .6)
}
.cdk-overlay-transparent-backdrop {
    background: 0 0
}

.md-select-trigger {
    color: rgba(0, 0, 0, .38);
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}
md-select:focus:not(.md-select-disabled) .md-select-trigger {
    color: $blue_500;
    border-bottom: 1px solid $blue_500
}
md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-trigger {
    color: #f44336;
    border-bottom: 1px solid #f44336
}
.md-select-arrow {
    color: rgba(0, 0, 0, .38)
}
md-select:focus:not(.md-select-disabled) .md-select-arrow {
    color: $blue_500
}
md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-arrow {
    color: #f44336
}
.md-select-content {
    background: #fff
}
md-option.md-selected,
md-option:focus:not(.md-option-disabled),
md-option:hover:not(.md-option-disabled) {
    background: rgba(0, 0, 0, .04)
}
.md-select-value {
    color: rgba(0, 0, 0, .87)
}
.md-select-disabled .md-select-value {
    color: rgba(0, 0, 0, .38)
}
md-option.md-selected {
    color: $blue_500
}
md-option.md-option-disabled {
    color: rgba(0, 0, 0, .38)
}