@import "variables.global";

cms-launchpad{
    .error-color{
        color: $red_500;
    }

    // md-toolbar theme (in general) ---------- 

    md-toolbar.toolbar-theme {
        background: $grey_800;
        color: $white;
    }

    md-toolbar.toolbar-theme [md-raised-button] {
        background-color: $grey_800;
    }

    md-toolbar.toolbar-theme .md-input-placeholder{
        color: $grey_400 !important;
        font-style: italic;
    }

    md-toolbar.toolbar-theme .md-input-placeholder.md-focused {
        color: transparent !important;
    }

    md-toolbar.toolbar-theme .md-input-placeholder.md-float:not(.md-empty) {
        color: transparent !important;
    }

    md-toolbar.toolbar-theme .md-input-underline{
        border-top-color: $grey_800 !important;
    }

    md-toolbar.toolbar-theme .md-input-ripple {
        background-color: $white !important;
    }

    md-toolbar.toolbar-theme .md-input-element{
        color: $white;
    }

     // ---------- md-radio and md-slide-toggle  (in general)
    .md-radio-checked .md-radio-outer-circle{
        border-color: $blue_500;
    }
    
    .md-radio-checked .md-radio-inner-circle,
    .md-checked .md-slide-toggle-thumb {
        background-color: $blue_500 !important;
    }

    .md-radio-focused .md-ink-ripple,
    .md-slide-toggle-focused .md-ink-ripple{
        background-color: rgba(0, 150, 243, 0.26)  !important;;
    }

   .disabled {
        .md-radio-checked .md-radio-outer-circle{
             border-color: $black;
        }

        .md-radio-checked .md-radio-inner-circle{
            background-color: $black !important;
        }
    }

    .md-checked .md-slide-toggle-bar{
        background-color: rgba(0, 150, 243, 0.5) !important;
    }

    .settings-panel  md-progress-circle path,
    .about-panel  md-progress-circle path{
         stroke: $white !important;
    }

    // progress circle
    md-progress-circle svg path{
        stroke: $blue_500 !important;
    }

    md-card {
        background-color: $white;
    }

    [md-button] {
        background-color: $white;
    }

    [md-button]:disabled {
        background-color: $white;
        color: $grey_400;
    }

    [md-raised-button] {
        background-color: $grey_100;
    }

    [md-icon-button] {
        background-color: transparent;
    }

    [md-icon-button] .md-button-focus-overlay {
        background-color: transparent;
    }

    [md-raised-button]:disabled {
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.38);
    }

    md-divider {
        border-top-color: rgba(0, 0, 0, 0.12);
    }

    .md-slide-toggle-bar {
        background-color: $grey_500;
    }

    .md-slide-toggle-thumb {
        background-color: $grey_100;
    }

    .md-sidenav-backdrop.md-sidenav-shown {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .md-input-placeholder {
        color: rgba(0, 0, 0, 0.38);
    }

    .md-input-underline {
        border-top-color: rgba(0, 0, 0, 0.38);
    }
}

