<mat-toolbar id="display-panel-toolbar" class="toolbar-theme">
    <div class="display-panel-toolbar-row">
        <button id="display-panel-back-button" class="action-button-exit" mat-raised-button (click)="navigateBack()">
            <mat-icon class="material-icons"> arrow_back </mat-icon>
            {{'common.exit' | translate}}
        </button>
    </div>
    <span class="fill-remaining-space"></span>

    <cms-display-name></cms-display-name>

    <span class="fill-remaining-space"></span>
</mat-toolbar>

<cms-mini-display *ngIf="display" [display]="display" (onZoom)="zoomLevel = $event" [fitHeight]="fitHeightCount">
</cms-mini-display>
