<div id="display-list-card-container" class="display-list-cards">
  @if (displays && displays.length === 0) {
    <div class="display-list-unavailable">
      <span>{{ 'displayList.unavailable' | translate }}</span>
      @if (showConfirmationPopup) {
        <cms-dialog id="display-list-confirmation-popup" [message]="dialogMessage" [type]="'alert'" (okPress)="onConfirmation()">
        </cms-dialog>
      }
    </div>
  }
  @if (displays && displays.length > 0) {
    <div>
      @for (display of displays; track display) {
        <cms-card [card]="display"
          (select)="connectWall(display)" (toggleFavorite)="toggleDisplayFavorite(display)"
          [ngClass]="{disabled: display.disabled}" [multi]="false">
        </cms-card>
      }
    </div>
  }
</div>
