<div class="page-toolbar">
    <md-toolbar id="tiles-panel-toolbar" class="toolbar-theme">
        <button id="layouts-panel-back-button" class="action-button-exit" md-button md-raised-button nd-click-debounce (ndClick)="navigateBack()">
            <md-icon class="material-icons"> arrow_back </md-icon>
            {{'common.exit' | translate}}
        </button>
        <span class="fill-remaining-space"></span>
        <cms-display-name></cms-display-name>
        <span class="fill-remaining-space"></span>
        <button id="tiles-panel-reload-button" md-icon-button *ngIf="viewState.reload" (click)="reloadList()">
            <i class="material-icons">refresh</i>
        </button>
    </md-toolbar>
</div>

<div class="tiles-panel-main">
    <cms-tile-list [sourceCount]="sourceCount" [displayResolution]="displayResolution" (change)="onListChanged()" *ngIf="viewState.list">
    </cms-tile-list>
</div>