<div class="page-toolbar">
    <md-toolbar id="tiles-panel-toolbar" class="toolbar-theme">
        <button id="tiles-panel-back-button" md-icon-button (click)="navigateBack()">
            <i class="material-icons">arrow_back</i>
        </button>

        <span id="tiles-panel-title">{{ 'tilePresetList.layouts' | translate }}</span>

        <span class="fill-remaining-space"></span>


        <!--<button id="tiles-panel-reload-button" md-icon-button *ngIf="mStates.reload" (click)="reloadList()">
            <i class="material-icons">refresh</i>
        </button>-->
        <button id="log-off" md-icon-button routerLink="/login">
            <i class="material-icons">power_settings_new</i>
        </button>
    </md-toolbar>
</div>

<div class="tiles-panel-main">
    <cms-tile-list [sourceCount]="sourceCount" [displayResolution]="displayResolution" (select)="navigateNext()"></cms-tile-list>
</div>

<div class="page-toolbar bottom">
    <md-toolbar id="tiles-panel-bottom-toolbar" class="toolbar-theme">
        <span class="fill-remaining-space"></span>
        <button id="tiles-panel-next-button" md-button md-raised-button (click)="navigateNext()">{{ 'common.next' | translate}}</button>
    </md-toolbar>
</div>