@import "variables.global";

.home-panel-wrapper{
    width: 98%;
    height:calc(100% - 64px);
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}
.card {
    margin:1%;
    padding: 1% 0.5%;
    width: 32%;
    height: 120px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.card:hover{
    box-shadow: 0px 0px 10px $black;
    .card-title{
        color: $black;
    } 
    .material-icons{
        color: $black;
    } 
}
.card-title {
    font-size: $baseFont_size;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    max-height: 60px;
    margin-bottom: 20px;
    color: $grey_800;
}
.card-content {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}
.card .material-icons{
    font-size: 34px;
    width: 34px;
    height: 34px;
    color: $grey_800;
}
.disabled {
    display: none;
}
.menu-option{
    color: $grey_800;
    width:150px;
}
.menu-option:hover{
    color: $black;
}
.menu-button{
    display: inline-block;
    cursor: pointer;
}
.home-menu-option { 
    background: $white !important;
}
.menu-option{
    background: $white;
    border-bottom: 1px solid $grey_300; 
}
@media screen 
and (min-width : 360px) 
and (max-width : 768px) 
{
    .home-panel-wrapper {
     -webkit-flex-direction: column;
      flex-direction: column;
    }
    .card{
        width: 50%;
    }
}