@import "variables.global";

.page-toolbar {
    @include page-header-fixed();
}

.toolbar-theme {
    .dashboard-toolbar-row {
        @include layout-row();
        overflow: hidden;
    }

    button {
        flex-shrink: 0
    }
}

.bottom {
    bottom: 0px;
}

.next-button{
    .centered-icon{
        padding-left: 10px;
    }
    .md-button-wrapper{
        display: flex;
        align-content: center;
        align-items: center;
    }
}