@import "../app/_variables.global.scss";

/* Master Styles */

* {
    font-family: $baseFont;
}

body{
  font-size: $baseFont_size;
  background-color: $grey_400;
}

cms-launchpad{

    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $white inset;
        -webkit-box-shadow: 0 0 0px 1000px $white inset;
        -moz-box-shadow: 0 0 0px 1000px $white inset;
    }

    // HTML LAYOUTS (used since angular material2 layouts are not yet available)

    .layout-row{
        display: -webkit-flex;
        display: flex;
    }

    .layout-row-reverse{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .layout-column{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .layout-column-reverse{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .layout-align-center{
        align-items: center;
        justify-content: center;
    }

    .layout-align-space-between{
        justify-content: space-between;
    }

    .fill-remaining-space {
        flex: 1 1 auto;
        -webkit-flex:  1 1 auto;
        -ms-flex:  1 1 auto;
    }

    .nd-popup {
        font-size: 16px !important;
        .popup-header {
            height: 25px !important;

            button {
                padding: 0;
                min-width: 0;
                background-color: transparent;
                .mat-button-focus-overlay {
                    display: none;
                }
            }
        }
        .popup-footer {
            justify-content: space-evenly !important;
        }
    }

   .action-button-clear{
        color: rgb(0, 0, 0) !important;
        background-color: $grey_300 !important;
        min-width: 0;
    }

    .action-button-share{
        color: rgb(0, 0, 0) !important;
        background-color:$grey_300 !important;
        min-width: 0;
    }

    .action-button-exit{
        color: rgb(0, 0, 0) !important;
        background-color:$grey_300 !important;
    }
}

mat-card.disabled {
    background-color: $grey_200 !important;
    cursor: no-drop !important;
}

mat-card.disabled * {
    cursor: no-drop !important;
}
