@import "../app/_variables.global.scss";

/* Overridden Styles */

cms-launchpad,
body,
html{
    height: 100%;
    overflow: hidden;
}

cms-launchpad {

    // removing input fields default angular material 18 color
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        --mdc-filled-text-field-container-color: transparent; // background-color
        --mat-app-surface-variant: transparent;
        --mat-form-field-state-layer-color: transparent;
        --mdc-filled-text-field-caret-color: $grey_800; // cursor color
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
        --mdc-filled-text-field-label-text-color: #9E9E9E; // color: $grey_500
        --mat-app-surface-variant: #9E9E9E; // color: $grey_500
        --mdc-filled-text-field-label-text-size: 1.2rem; // font-size: overriding existing value of 1rem
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
        --mdc-filled-text-field-label-text-color: #2196F3; // color: $blue_500
        --mat-app-surface-variant: #2196F3; // color: $blue_500
        // --mdc-filled-text-field-focus-label-text-color: #2196F3; // color: $blue_500
    }

    // .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-floating-label {
    //     --mdc-filled-text-field-error-hover-label-text-color: #2196F3; // color: $blue_500
    // }

    // remove cross icon (X) in internet explorer
    input::-ms-clear {
        display: none;
    }

    // removing asterix sign on input labels defined as required
    .mat-mdc-form-field-required-marker {
        display: none;
    }

    // mat-toolbar (in general)
    mat-toolbar.toolbar-theme{
        padding: 0 16px;
        min-height: 64px;
    }

    mat-toolbar.toolbar-theme mat-icon,
    mat-toolbar.toolbar-theme .material-icons{
        font-size: 34px;
        width: 34px;
        height: 34px;
    }

    mat-toolbar.toolbar-theme [mat-raised-button] {
        font-size: 18px;
        margin: 0 8px;
        color: white;
        line-height: 36px;
        height: 36px;
        padding: 0 16px;
    }

    mat-toolbar.toolbar-theme [mat-icon-button]{
        margin: 0 9px;
        display: flex;
        color: white;
    }

    mat-toolbar.toolbar-theme [mat-icon-button] + span{
        font-size: 18px;
        padding: 0 10px;
    }

    mat-toolbar.toolbar-theme matInput{
        font-size: 18px;
    }

    #options [mat-button] {
        @include layout-row();
    }

    // ---------- mat-icon-button (in general)
    .mat-button-ripple{
        display: none;
    }

    // removing shadow from all icon type of buttons
    // handling double tap issue for iOS version 10
    [mat-icon-button]:hover::after,
    [mat-button]:hover::after,
    [mat-raised-button]:hover::after{
        content: none;
        background-color: transparent !important;
        /* ISSUE: Buttons need to be tapped twice in order to fire the click event (iOS version 10)
           LINK: https://github.com/angular/material2/issues/1316
           https://css-tricks.com/annoying-mobile-double-tap-link-issue/
           SOLUTION: Content Property must be none.
        */
    }

    [mat-icon-button] {
        line-height: 24px;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    [mat-icon-button] mat-icon,
    [mat-icon-button] .material-icons {
        line-height: 1;
    }

    /* To hide non material components such as normal radio button and checkbox */
    .cdk-visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        position: absolute;
    }

    // ---------- mat-list  (override for setting page)
    .settings-panel mat-list[dense] .mat-mdc-list-item .mdc-list-item__content,
    .settings-panel mat-list .mat-mdc-list-item .mdc-list-item__content,
    .about-panel mat-list[dense] .mat-mdc-list-item .mdc-list-item__content,
    .about-panel mat-list .mat-mdc-list-item .mdc-list-item__content {
        padding: 0;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }

    .settings-panel mat-list[dense] .mat-mdc-list-item {
        height: 35px;
        padding: 0;
        overflow: visible;

        .mdc-list-item__content {
            overflow: visible;
        }
    }

    .about-panel .mat-mdc-card {
        padding: 24px;
    }

    .about-panel .mat-mdc-list-item {
        padding: 12px 0px;
        height: inherit;
    }

    .mat-mdc-card {
        border-radius: 2px;
        padding: 24px;
        box-shadow: 0 3px 1px -2px RGB(0 0 0 / 20%), 0 2px 2px 0 RGB(0 0 0 / 14%), 0 1px 5px 0 RGB(0 0 0 / 12%);

        .mat-mdc-card-header {
            padding: 0;
        }

        .mat-mdc-card-header-text {
            margin: 0;
        }

        .mat-mdc-card-content {
            padding: 0;
        }

        .mdc-list {
            padding: 4px 16px;
        }
    }

    .mat-mdc-card .mat-divider-horizontal {
        position: relative;
        left: 0;
        width: 100%;
    }

    .settings-language-panel mat-nav-list[dense] .mat-list-item .mat-list-item-content {
        font-size: 14px;
    }

    .settings-panel .list-main-row{
        height: inherit;
    }

    .settings-panel .mat-radio-label-content{
        font-size: 16px;
        position: relative;
    }

    .settings-panel .setting-square-input{
        width: 85px;
        height: 35px;
        box-sizing: border-box;
        background-color: $grey_100;
        border: 1px solid $grey_600;
        position: relative;
        border-radius: 2px;
        margin: 0 10px;
        font-size: 16px;

        input {
            text-align: center;
        }

        .mat-mdc-text-field-wrapper {
            align-items: center;
        }

        .mat-mdc-form-field-subscript-wrapper {
            height: 0;
        }

        .mdc-line-ripple {
            color: transparent;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
            --mdc-filled-text-field-focus-active-indicator-color: transparent;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
            --mdc-filled-text-field-active-indicator-color: transparent;
            --mdc-filled-text-field-active-indicator-height: 0;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }

        &:hover{
             border: 1px solid $blue_500;
        }
    }

    .setting-card-language-page .mat-mdc-list-item{
        border-bottom: 1px solid $grey_300;
        position: relative;
        height: 40px;
        padding: 0 5px;
        border-radius: 0;

        .mdc-list-item__content {
            height: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            font-family: $baseFont;
        }
    }

    .settings-panel .specific-wall-row .mdc-list-item{
        width:  100%;
        height: inherit;
    }

    .settings-panel .specific-wall-row .mat-radio-label-content{
        white-space: normal !important;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .settings-panel .specific-wall-row .mat-radio-container{
        flex-shrink: 0;
    }

    .settings-panel .most-recent-wall-row .mat-radio-label-content{
        white-space: normal !important;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    //hide up and down arrow in input number field
    input[type="number"] {
        -moz-appearance: textfield;
    }

    //disable class for grid-tiles
    .tileHighlightDisabled .tile:hover{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    // ---------- override for save layout page
    // cms-save-layout{
    //     min-height: 140px;
    //     background-color: $grey_400;
    //     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    //     margin-bottom: 3px;
    //     margin-top: 65px;
    // }

    // cms-save-layout + cms-layout-list{
    //     // include 64px for navigation bar and 140px for save layout form
    //     height: calc(100% - 205px) !important;
    // }

    // cms-save-layout + cms-layout-list .layout-list-cards{
    //     margin-top: 0 !important;
    // }

    // handle tap or click event for safari
    cms-displays-panel,
    cms-display-panel,
    cms-sources-panel,
    cms-settings-panel,
    cms-settings-language-panel,
    cms-about-panel{
        display: block;
        height: inherit;
    }

}


html[dir="rtl"]{
    // check icon position in language page
   .settings-language-panel .link-select-icon {
        left: 8px;
    }

    // input placeholder position
   .mat-form-field-label {
        left: inherit !important;
        padding-right: 5px;
    }

   // toolbar icon - flip
   mat-toolbar mat-icon,
   mat-toolbar .material-icons{
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }

   mat-toolbar mat-icon[aria-label="search"],
   mat-toolbar .material-icons[aria-label="search"]{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
   }

}

html[dir="ltr"]{
    // check icon position in language page
   .settings-language-panel .link-select-icon {
        right: 8px;
    }

}



/* Support for mat-select component */

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}
.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}
.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000
}
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000
}
.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    opacity: 0
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .48
}
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .6)
}
.cdk-overlay-transparent-backdrop {
    background: 0 0
}

// Updated CSS for MAT-SELECT Component in settings page
.mat-mdc-select-panel {
    background-color: white !important;
    transform-origin: 50% 24px 0px !important;
    font-size: 16px;
    opacity: 1;
    min-width: 100%;
    transform: scaleY(1);
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

div.mat-mdc-select-panel {
    max-height: 240px !important;
}

.mat-mdc-form-field.mdc-text-field-wrapper {
    padding: 0;
}

.mat-mdc-option.mat-mdc-option-active {
    background: rgba(0, 0, 0, .04) !important;
}

// Updated CSS for MAT-MENU Component in home page

.mat-mdc-menu-panel {
    border-radius: 2px !important;
    box-shadow: 0 2px 4px -1px RGB(0 0 0 / 20%), 0 4px 5px 0 RGB(0 0 0 / 14%), 0 1px 10px 0 RGB(0 0 0 / 12%) !important;
    background-color: $white !important;
}
.mat-mdc-menu-item {
    color: $grey_800 !important;
    background: $white !important;
    border-bottom: 1px solid $grey_300 !important;
    --mat-menu-item-label-text-font: $baseFont;
    --mat-app-label-large-font: $baseFont;
    --mat-menu-item-label-text-size: 14px; // font-size
    --mat-menu-item-with-icon-leading-spacing: 16px; // padding-left
    --mat-menu-item-with-icon-trailing-spacing: 16px; // padding-right

    .mat-icon {
        --mat-menu-item-spacing: 16px;
    }
}

.mat-mdc-menu-item:hover:not([disabled]) {
    background: rgba(0, 0, 0, .04) !important;
}
.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px;
}
