<!-- LOGIN SPLASH IMAGE -->
<div class="login-splash-container">
    <img src="resources/images/wallmanager.jpg" alt="Login Splash" class="login-splash-image">
</div>

<!-- LOGIN CONTAINER -->
<div class="login-container">
    <header class="login-header">
        <span>{{ 'login.welcome' | translate}}</span>
    </header>
    <section class="login-section layout-column">
        <form id="application-login-form">
            <div id="login-username-input" class="login-input-container">
                <i class="material-icons">person</i>
                <md-input-container id="login-username-input">
                    <input md-input type="text" placeholder="{{ 'login.username' | translate}}" required [(ngModel)]="user.username" #username="ngModel"
                        name="username" (input)="userNameChanged($event)">
                </md-input-container>
            </div>
            <div id="login-password-input" class="login-input-container">
                <i class="material-icons">vpn_key</i>
                <md-input-container id="login-password-input">
                    <input md-input type="password" placeholder="{{ 'login.password' | translate}}" type="password" [(ngModel)]="user.password"
                        #password="ngModel" name="password" (input)="passwordChanged($event)">
                </md-input-container>
            </div>
            <div class="login-error-container error-color" *ngIf="hasError">
                <i class="material-icons">warning</i>
                <span>{{ errorMessage }}</span>
            </div>
            <div class="login-submit-container layout-row">
                <div class="login-button-container layout-row-reverse">
                    <button id="login-submit-button" md-raised-button type="submit" class="md-raised" (click)="onLoginSubmit()" [disabled]="!username.valid || !password.valid">{{ 'login.button' | translate}}</button>
                </div>
                <div id="login-progress" class="login-progress-container" *ngIf="isLoginInProgress">
                    <md-progress-circle color="primary" mode="indeterminate" [style.width]="'40%'" [style.height]="'150%'"></md-progress-circle>
                </div>
            </div>
        </form>
    </section>
</div>
<div class="app-logo">
    <img src="icon_barco.png">
</div>