@import "app/variables.global";

/* LOGIN SPLASH */

.login-splash-container{
    width: 100%; 
    height: 40vh; 
    background-color: $grey_500;
}

.login-splash-image{
    width: inherit;
    height: inherit;
}

/* LOGIN SECTION */

.login-container{
    width: 100%; 
    height: 60vh; 
    background-color: $white;
}

.login-header{
    width: inherit;
    height: 20%;
    display: table;
    padding: 2% 0 2% 0;
}

.login-header span{
    display: table-cell;
    font-size: 160%;
    width: inherit;
    text-align: center;
    vertical-align: bottom;
}

.login-section{
    width: inherit;
    height: 80%;
}

.login-input-container{
    width: 42%;
    height: 72px;
    margin: 0.5% 29%;
    position: relative;
}

.login-input-container md-input-container{
    width: 79%;
    padding: 2%;
    font-size: 20px;
}

.login-input-container md-icon,
.login-input-container .material-icons{
    width: 44px !important;
    height: 44px !important;
    font-size: 44px !important;
    top: 18%;
    position: relative;
}

.login-error-container{
    width: 42%;
    display: flex;
    margin: 0 29%;
    position: relative;
}

.login-error-container md-icon,
.login-error-container .material-icons{
    width: 24px !important;
    height: 24px !important;
    font-size: 24px !important;
    top: 10%;
    margin: 0 17px;
    position: relative;
}

.login-error-container span{
    font-family: $baseFont_light;
    font-size: 14px;
}

.login-submit-container{
    width: 100%;
    height: 44px;
}

.login-button-container{
    width: 69.5%;
    height: inherit;
    position: relative;
    padding: 2% 0 1% 0;
}

.login-button-container [md-raised-button]{
    min-width: 120px;
    height: inherit;
    font-size: 20px;
    background-color: $grey_200;
}

.login-button-container [md-raised-button]:enabled:active{
    background-color: $blue_500; 
    color: $white;
}

.login-button-container [md-raised-button]:enabled:hover{
    background-color: $blue_200; 
}

.login-progress-container{
    width: 30.5%;
    height: inherit;
    position: relative;
    padding: 1% 0;
}
.app-logo{
    width: 60px;
    height: 40px;
    position: absolute;
    z-index: 1;
    right: 30px;
    bottom: 5px;

    img{
        width: 100%;
    }
}