@import "variables.global";

.page-toolbar{
     @include page-header-fixed();
}

.sources-panel-main {
    z-index: 0;
    height: 100%;
    width: 100%;
    @include layout-column();
}

cms-source-list{
    @include layout-row();
    height: inherit;
}

.error {
    color: $red_500;
}