<div class="page-toolbar">    
    <md-toolbar id="sources-panel-toolbar" class="toolbar-theme">
        <button id="sources-panel-back-button" md-icon-button routerLink="/display-panel/{{mDisplayId}}">
            <i class="material-icons">arrow_back</i>
        </button>

        <span id="sources-panel-back-button-text">{{ 'sourceList.connectTo' | translate }}</span>

        <span class="fill-remaining-space"></span>

        <button id="sources-panel-reload-button" md-icon-button *ngIf="mStates.reload" (click)="reloadList()">
            <i class="material-icons">refresh</i>
        </button>
        <button id="sources-panel-favorite-button" md-icon-button>
            <i class="material-icons" *ngIf="!isFavoriteFilter">star_border</i>
            <i class="material-icons" *ngIf="isFavoriteFilter">star</i>
        </button>
        <button md-icon-button (click)="initializeSearch($event)">
            <i class="material-icons">search</i>
        </button>
        <md-input-container id="sources-panel-search-input">
            <input md-input type="text" placeholder="{{ 'panelToolbar.search' | translate }}" [(ngModel)]="searchKey">
        </md-input-container>
    </md-toolbar>
</div>

<div class="sources-panel-main">
    <cms-source-list [displayId]="mDisplayId" (change)="onListChanged()" *ngIf="mStates.list" [searchFilter]= "searchFilter" [favoriteFilter]="isFavoriteFilter"></cms-source-list>
</div>