<div class="page-toolbar">
    <md-toolbar id="sources-panel-toolbar" class="toolbar-theme">
        <span id="sources-panel-back-button-text">{{ panelTitle }}</span>

        <span class="fill-remaining-space"></span>

        <cms-display-name></cms-display-name>

        <span class="fill-remaining-space"></span>

        <button id="sources-panel-reload-button" md-icon-button *ngIf="mStates.reload" (click)="reloadList()">
            <i class="material-icons">refresh</i>
        </button>
        <button id="sources-panel-favorite-button" md-icon-button>
            <i class="material-icons">{{ isFavoriteFilter ? "star" : "star_border" }}</i>
        </button>
        <button md-icon-button (click)="initializeSearch($event)">
            <i class="material-icons">search</i>
        </button>
        <md-input-container id="sources-panel-search-input">
            <input md-input type="text" placeholder="{{ 'panelToolbar.search' | translate }}" [(ngModel)]="searchKey">
        </md-input-container>

        <button id="log-off" md-icon-button routerLink="/login">
            <i class="material-icons">power_settings_new</i>
        </button>
    </md-toolbar>
</div>

<div class="sources-panel-main">
    <cms-source-list [displayId]="mDisplayId" [selectedOnly]="selectedOnly" (change)="onListChanged()" *ngIf="mStates.list" [searchFilter]="searchFilter"
        [favoriteFilter]="isFavoriteFilter" (error)="errorMessage = $event"></cms-source-list>
</div>
<div class="page-toolbar bottom">
    <md-toolbar id="sources-panel-bottom-toolbar" class="toolbar-theme">
        <button id="back-button" md-button md-raised-button (click)="navigateBack()">{{ 'common.back' | translate}}</button>
        <span class="fill-remaining-space"></span>
        <span>
            {{clipboard?.selectedSources.length}} / {{clipboard.maxSelection}}
        </span>
        &nbsp;
        <span class="error" *ngIf="errorMessage">
            {{errorMessage}}
        </span>
        <span class="fill-remaining-space"></span>
        <button md-button md-raised-button *ngIf="clipboard?.selectedSources.length > 0" (click)="navigateNext()">{{ 'common.next' | translate}}</button>
    </md-toolbar>
</div>