@import "../../app/_variables.global.scss";

.cms-dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $black;
    opacity: 0.48;
    pointer-events: none;

    animation-name: cms-opacity-animation;
    -webkit-animation-name: cms-opacity-animation;
    -moz-animation-name: cms-opacity-animation;
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
}

.cms-dialog-content-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include layout-column();
    @include layout-align-center();
}

.cms-dialog-content {
    align-self: center;
    animation-name: cms-opacity-animation;
    animation-duration: 500ms;
    z-index: 2;

    md-card {
       max-width: 350px;
    }

    md-card-content {
        font-size: 16px;

        .message{
            word-wrap: break-word;
            overflow-wrap: break-word;
            line-height: 24px;
        }

        .action-buttons {
            @include layout-row();
            @include layout-align-space-around();

            margin-top: 40px;
        }

        button {
            color: $blue_500;
            width: 50%;
        }

        .cms-dialog-message-container {
            @include layout-column();
            @include layout-align-center();
        }

        md-progress-circle {
            width: 60px;
        }
    }
}

@keyframes cms-opacity-animation { from { opacity: 0 } }
@-webkit-keyframes cms-opacity-animation { from { opacity: 0 } }
@-moz-keyframes cms-opacity-animation { from { opacity: 0 } }
