<router-outlet></router-outlet>
<nd-popup *ngIf="showSystemDialog" id="sytem-events-alert-popup" class="confirm-popup" title="{{'systemDialog.confirmationTitlePopup' | translate }}"
    (done)="onDialogConfirmation()" (closing)="showSystemDialog = false;" okText="{{'common.ok' | translate}}">
    <popup-body>
        {{dialogMessage}}
    </popup-body>
</nd-popup>
<div *ngIf="showProgressDialog" class="cms-dialog-content-block">
    <div class="cms-dialog-content">
        <mat-card>
            <mat-card-content>
                <div class="cms-dialog-message-container">
                    <mat-progress-circle color="primary" mode="indeterminate"></mat-progress-circle>
                </div>
                <div class="message">
                    {{dialogMessage}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cms-dialog-overlay"></div>
</div>
