@import "variables.global";

.page-toolbar{
     @include page-header-fixed();
}

.layouts-panel-main {
    z-index: 0;    
    height: 100%;
    width: 100%;
    @include layout-column();
}

cms-layout-list{
     @include layout-row();
     height: inherit;
}