<div id="display-list-card-container" class="display-list-cards">
    <div class="display-list-unavailable" *ngIf="displays && displays.length === 0">
        <span>{{ 'displayList.unavailable' | translate }}</span>
        <nd-popup *ngIf="showConfirmationPopup" id="display-list-confirmation-popup" class="confirm-popup" 
            title="{{'displayList.confirmationTitlePopup' | translate }}"
            (done)="onConfirmation()" (closing)="showConfirmationPopup = false;" 
            okText="{{'common.ok' | translate}}">
            <popup-body>
                {{dialogMessage}}
            </popup-body>
        </nd-popup>
    </div>
    <div *ngIf="displays && displays.length > 0">
        <cms-card *ngFor="let display of displays" [card]="display" 
            (select)="connectWall(display)" (toggleFavorite)="toggleDisplayFavorite(display)"
            [ngClass]="{disabled: display.disabled}">
        </cms-card>
    </div>
</div>