<div class="page-toolbar">
  <mat-toolbar id="tiles-panel-toolbar" class="toolbar-theme">
    <button id="layouts-panel-back-button" mat-icon-button (click)="navigateBack()">
      <i class="material-icons"> arrow_back </i>
    </button>
    <span class="fill-remaining-space"></span>
    <cms-display-name class="toolbar-text"></cms-display-name>
    <span class="fill-remaining-space"></span>
    @if (reloadState) {
      <button id="tiles-panel-reload-button" mat-icon-button (click)="reloadList()">
        <i class="material-icons">refresh</i>
      </button>
    }
  </mat-toolbar>
</div>

<div class="tiles-panel-main">
  @if (listState) {
    <cms-tile-list [sourceCount]="sourceCount" [displayResolution]="displayResolution" (change)="onListChanged()">
    </cms-tile-list>
  }
</div>
