@import "variables.global";

.side-nav {
    padding: 12px 0;
    min-width: 300px;
    max-width: 440px;
    max-width: -moz-min-content;
    min-width: -moz-min-content;
    background-color: $white;
}

.side-nav hr {
    width: 95%;
}

.options {
    margin: 12px 0;
}

.options-username-icon {
    padding: 0 calc(50% - 36px);
}

.options-username-icon md-icon,
.options-username-icon .material-icons {
    font-size: 72px !important;
    width: 72px !important;
    height: 72px !important;
}

.options-username {
    padding: 0 24px;
    margin-bottom: 48px;
    min-width: 300px;
    text-align: center;
    white-space: nowrap;
}

.options-username span {
    font-size: 22px;
}

.side-nav-options [md-button] md-icon,
.side-nav-options [md-button] .material-icons,
.side-nav-options [md-button] .material-icons img{
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
}

.side-nav-options [md-button] {
    padding: 3px 12px;
    width: 100%;
    min-width: 100%;
    font-size: 24px;
    text-align: inherit;
    border-radius: 0;
    white-space: normal;
}

.side-nav-options [md-button] span {
    font-size: 18px;
    line-height: 24px;
    padding: 0 16px;
    height: inherit;
}

