@import "../../variables.global";

.page-toolbar{
     @include page-header-fixed();
}

.sources-panel-main {
    z-index: 0;
    height: 100%;
    width: 100%;
    @include layout-column();
}

cms-source-list{
    @include layout-row();
    height: inherit;
}

.error {
    color: $red_500;
}

.bottom {
    bottom: 0px;
}

.action-button-share:disabled {
    opacity: 0.3;
    background-color: $grey_200 !important;
    cursor: no-drop !important;
}

.bottom-toolbar-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
