@font-face {
    font-family: 'RobotoBlack';
    src: url(./roboto/Roboto-Black.ttf)  format('truetype'),
         url(./roboto/Roboto-BlackItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoBold';
    src: url(./roboto/Roboto-Bold.ttf)  format('truetype'),
         url(./roboto/Roboto-BoldItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoLight';
    src: url(./roboto/Roboto-Light.ttf)  format('truetype'),
         url(./roboto/Roboto-LightItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(./roboto/Roboto-Medium.ttf)  format('truetype'),
         url(./roboto/Roboto-MediumItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(./roboto/Roboto-Regular.ttf)  format('truetype'),
         url(./roboto/Roboto-Italic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoThin';
    src: url(./roboto/Roboto-Thin.ttf)  format('truetype'),
         url(./roboto/Roboto-ThinItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url(./roboto/RobotoCondensed-Regular.ttf)  format('truetype'),
         url(./roboto/RobotoCondensed-Italic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url(./roboto/RobotoCondensed-Bold.ttf)  format('truetype'),
         url(./roboto/RobotoCondensed-BoldItalic.ttf)  format('truetype')
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url(./roboto/RobotoCondensed-Light.ttf)  format('truetype'),
         url(./roboto/RobotoCondensed-LightItalic.ttf)  format('truetype')
}